[Unit]
Description=Audio trigger via Google Speech to Text
After=syslog.target

[Service]
ExecStart=/bin/bash /home/pi/Desktop/kehai-no-hana-audio-trigger/start.sh
Restart=always

[Install]
WantedBy=multi-user.target

----

#!bin/bash
cd /home/pi/Desktop/kehai-no-hana-audio-trigger
source myenv/bin/activate
export GOOGLE_APPLICATION_CREDENTIALS=credentials/kehai-no-hana-test.json
python main.py