[Unit]
Description=Audio trigger via Google Speech to Text
After=syslog.target

[Service]
ExecStart=/bin/bash /home/pi/Desktop/kehai-no-hana-audio-trigger/start.sh
Restart=always

[Install]
WantedBy=multi-user.target
